<div class="wrapper row1">
    <div data-sly-include="slider.html"></div>
  </div>


<div class="wrapper row0">
  <div id="topbar" class="hoc clear"> 
    <div data-sly-include="slider.css"></div>
  </div>
</div>

<div class="wrapper row2">
  <div id="topbar" class="hoc clear"> 
    <div data-sly-include="slider.js"></div>
  </div>
</div>

    <h3> Page Properties </h3>
    <p> ${currentPage.properties.jcr:title} </p>

    <p> ${currentPage.path}</p>
    <p> ${currentPage.depth}</p>
    <p> ${currentPage.name}</p>

     <p> ${currentNode.name}</p>


