<p>This AEM HTML Template Language component measures the distance between two cities:</p>
<div data-sly-use.heroTextObject="com.demo.aemLearning.core.HeroRestComponent" data-sly-test="${heroTextObject}">
 
        <h1>AEM HTL Restul example</h1>
 
       <h3>From City: ${heroTextObject.heroTextBeanTwo.fromCity}</h3>
       <h3>To City: ${heroTextObject.heroTextBeanTwo.toCity}</h3>
 
      <h3>Distance: ${heroTextObject.heroTextBeanTwo.distance}</h3>
       <h3>Duration: ${heroTextObject.heroTextBeanTwo.duration}</h3>
 
       <p></p>    
</div>